<!DOCTYPE html>
<html>
<head>
	<title>Contacto!</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/transacion.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css')}}">




<script type="text/javascript" src=".\js\validaciones.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header>
 <ul>
  <li><a href="/">Inicio</a></li>
  <li><a href="/ingresar">Ingresar</a></li>
  <li><a href="/modificar">Modificar</a></li>
  <li><a href="/consultar">Consultar</a></li>
  <li><a href="/eliminar">Eliminar</a></li>
  <li style="float:right"><a href="/registro">Registro</a></li>
  <li style="float:right"><a href="/login">Iniciar Sesion</a></li>
</ul>
</header>


    <section class="container">  
  <div class="row">
  <div class="leftcolumn">
    <div class="card">
      <div class="card">
      <h2>Formulario</h2>
      
 <p>Los accidentes ocurren más frecuentemente de lo deseado, y aunque existen muchas formas de prevenirlos, hay veces en que son ineludibles y es importante saber qué hacer en caso de estar involucrado en uno. Por este motivo, envia una solicitud en caso de algun percanse , Llena el formulario ahora!</p> 
      

    <h2>Contactenos!</h2>
      
 

  <p>
    <label for="name">Nombres Completos </label><br>
    <input type="text" name="nombre" id="nombre"
    placeholder="Nombres "
    autofocus
    autocomplete
    required>
  </p>

<p>
    <label for="name">Edad </label><br>
    <input type="int" name="edad" id="edad"
    placeholder="Ingrese su Edad"
    autofocus
    autocomplete
    required>
</p>
<p>
    <label for="name">Sintomas</label><br>
    <input type="text" name="sintomas" id="pai"
    placeholder="....."
    autofocus
    autocomplete
    required>
  </p>
  <p>
    <label for="name">Celular</label><br>
    <input type="text" name="tlf" id="tlf"
    placeholder="09.."
    autofocus
    autocomplete
    required>
  </p>
  <p>
    <label for="email">Email</label>
    <p><input type="text" id="email" 
    placeholder="E-mail"required /></p>
  </p>

   <p>
      <input type="button" class="button" onclick="solicitar()" value="Enviar"  />
    </p>
</form> 
  </div>
</div>
</div>  
</section>


</body>
</html>