<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenidos A TECNOCAR</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/intro.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>    
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/ingresar">Ingresar</a></li>
            <li><a href="/modificar">Modificar</a></li>
            <li><a href="/consultar">Consultar</a></li>
            <li><a href="/eliminar">Eliminar</a></li>
            <li style="float:right"><a href="/registro">Registro</a></li>
            <li style="float:right"><a href="/login">Iniciar Sesion</a></li>
        </ul>
        <section class="textos-header">
            <h1>El servicio de TECNOCAR, te brinda una atención más fácil, rápida 
                y en todo lugar con la misma red de profesionales Mecanicos</h1>
          

        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Beneficios de TECNOCAR</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/logo.png">
                <div class="contenido-textos">
                    <h3><span>1</span>Acceso desde cualquier parte del mundo,
                         donde tengan cobertura de internet</h3>
                    <h3><span>2</span>Con firma digital del Mecanico</h3>
                    <h3><span>3</span>Garantiza la confidencialidad de la consulta</h3>
                    <h3><span>4</span>Confidencialidad de datos de los Clientes</h3>
                    <h3><span>5</span>Acceso a la misma red de profesionales Mecanicos</h3>
                    <h3><span>6</span>Vincula la videoconsulta de acuerdo a su soocion Mecanica</h3>
                    
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Clientes Satisfechos de Nuestro Trabajo</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="https://img.autocosmos.com/noticias/fotosprinc/NAZ_84f1975c2d64484cafe77016fced999f.jpg">
                        <div class="hover-galeria">
                            <img src="imagenes/logo.png">
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxyueQgzOl0cM_rkaFLPL1ePL01GOeR4ITpA&usqp=CAU">
                        <div class="hover-galeria">
                            <img src="logo.png"/>
                           
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxDEGFuxxoG6qukRIdXvoG53_bSAYQ3T5nLQ&usqp=CAU">
                        <div class="hover-galeria">
                            <img src="logo.png"/>
                            
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZl-QoBw6-mtvTcuJKKMv9tb7GVEwMvcrE1g&usqp=CAU">
                        <div class="hover-galeria">
                            <img src="logo.png">
                          
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSQict7ehrFAqHstixpu7dBZCFJ9KZk4i8xvQ&usqp=CAU">
                        <div class="hover-galeria">
                            <img src="logo.png">
                        
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/originals/60/03/11/60031186d011b50bbb471d1d2107a669.jpg">
                        <div class="hover-galeria">
                            <img src="logo.png">
                        
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrDbHp3Yw20ZdBQyHk1zo9EPQaZA8Z_pbatQ&usqp=CAU">
                        <div class="hover-galeria">
                            <img src="logo.png">
                            
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQuH2HI8mLPG6VLZv6543rEAtsoAU9zu9iL7g&usqp=CAU">
                        <div class="hover-galeria">
                            <img src="logo.png"/>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Somos Unicos en:</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="https://images.vexels.com/media/users/3/147722/isolated/preview/618e5b270ddb606dae6fa57689bfe3cd-servicio-de-mec--nico-de-autom--viles-logo-by-vexels.png">
                        <h3>Cambio de Aceite</h3>
                  
                    </div>
                    <div class="servicio-ind">
                        <img src="https://buentaller.com/wp-content/uploads/buen-taller-mecanica-general-autos.png">
                        <h3>Accesorios</h3>
                      
                    </div>
                    <div class="servicio-ind">
                        <img src="https://aerobox.com.ar/wp-content/uploads/2019/06/repuestos.png">
                        <h3>Repuesto de calidad</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>0998300331</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>e1316550902@live.uleam.edu.ec</p>
            </div>
            <div class="content-foo">
                <h4>Ubicacion</h4>
                <p>Manta - Manabi - Ecuador</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Pagina Realizada por BAPA. Tema :TECNOCAR</h2>
    </footer>
</body>

</html>
