
<!DOCTYPE html>
<html>
<head>
    <title>Administracion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/acercade.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css')}}">
<script type="text/javascript" src=".\js\admin.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <header>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/ingresar">Ingresar</a></li>
        <li><a href="/modificar">Modificar</a></li>
        <li><a href="/consultar">Consultar</a></li>
        <li><a href="/eliminar">Eliminar</a></li>
        <li style="float:right"><a href="/registro">Registro</a></li>
        <li style="float:right"><a href="/login">Iniciar Sesion</a></li>
</ul>
</header>
        <main>
            <section id="banner">
                <img src="https://image.freepik.com/foto-gratis/ciudad-fondo-construccion-carretera-asfalto-ferrocarril-noche_1359-1973.jpg">
                <div class="contenedor">

                    <h2>TECNOCAR</h2>
                    <p>Pagina Realizada por Byron Pilozo</p>

                    
                    </div>
                </div>
            </section>
            <div class="formulario"><center><h2>REGISTRO DE PRODUCTO</h2></center>> 
                <center><form action="#">
                <br><input type="text" placeholder="Nombre del producto" required>
                </br>
                <br><input type="password" placeholder="Clave del producto" required>
                </br>
                <br><input type="email" placeholder="Codigo del producto" required>
                </br> 
                <br><input type="text" placeholder="Cantidad" required>
                </br>
                <br><input type="submit" value="Registrar producto">
                </br>
                </form>
                </center>
                <br>
            </br>
            <section id="bienvenidos">
            <div class="contenedor">
                <h2>Acerca de Nosotros</h2>
                <p>La atención mecanica ha ido evolucionando con el decursar de los años, pasando de una asistencia, enfocada en la bioseguridad, a una atención dirigida al Cliente. En la actualidad, las tecnologías de la Información brindar asistencia para la solucion a quien la requiera en sitios distantes</p>
                </div>
            </section>
            
           
            
            <section id="info">
                <h3>La Tecnocar no solo es atender a los Clientes , es tratar de que su vehiculo, dejarlo como nuevo y todo eso sin salir de casa.</h3>
                <div class="contenedor">
                    <div class="info-pet">
                        <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ2DwLeD5DPyO0_j0IIa_PEaJX0sgH6SPQTiQ&usqp=CAU alt="">
                        <h4></h4>
                    </div>
                    <div class="info-pet">
                        <img src=https://icdn2.digitaltrends.com/image/digitaltrends_es/autos-awd-mazda3.jpg alt="">
                        <h4></h4>
                    </div>
                    <div class="info-pet">
                        <img src=https://es-mb.theepochtimes.com/assets/uploads/2019/12/Chevrolet-Corvette_C8_Stingray-2020.jpg>
                        <h4></h4>
                    </div>
                    <div class="info-pet">
                        <img src=https://cdn.aarp.net/content/dam/aarp/auto/2017/07/1140-hyundai-ioniq-great-cars-road-trips-esp.imgcache.revfd63981c76a67e8a4ed28622bb76883e.web.900.513.jpg alt="">
                        <h4></h4>
                    </div>
                </div>
            </section>
        </main>
        
        <footer>
            <div class="contenedor">
                <p class="copy">Byron Pilozo - Auz Garcia Gestion de calidad de Software</p>
                <div class="sociales">
                    <a class="fontawesome-facebook-sign" href="#"></a>
                    <a class="fontawesome-twitter" href="#"></a>
                    <a class="fontawesome-camera-retro" href="#"></a>
                    <a class="fontawesome-google-plus-sign" href="#"></a>
                </div>
            </div>
        </footer>