<!DOCTYPE html>
<html>
<head>
	<title>Bienvenidos A Tecnocar

    </title>

	<link rel="stylesheet"  href="{{ url_for('static', filename='css/menu.css')}}">
  
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/ingresar">Ingresar</a></li>
        <li><a href="/modificar">Modificar</a></li>
        <li><a href="/consultar">Consultar</a></li>
        <li><a href="/eliminar">Eliminar</a></li>
        <li style="float:right"><a href="/registro">Registro</a></li>
        <li style="float:right"><a href="/login">Iniciar Sesion</a></li>
</ul>
 <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicios.css')}}">
<body>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="imagenes/logo.png" th:src="@{imagenes/logo.png}"/>
                </div>
                <form class="col-12" th:action="@{/login}" method="get">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                    </div>
                    <button type="button" class="btn btn-primary"onclick="document.location='./index.html'"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                    <button type="button" class="btn btn-primary" onclick="document.location='./Registro.html'"><i class="fas fa-sign-in-alt"></i> Registrarse </button>

                 
                </form>
               
            </div>
        </div>
    </div>



</body>
</html>