<!DOCTYPE html>
<html>
<head>
	<title>Bienvenidos A TECNOCAR</title>

	<link rel="stylesheet"  href="{{ url_for('static', filename='css/menu.css')}}">
  
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/ingresar">Ingresar</a></li>
        <li><a href="/modificar">Modificar</a></li>
        <li><a href="/consultar">Consultar</a></li>
        <li><a href="/eliminar">Eliminar</a></li>
        <li style="float:right"><a href="/registro">Registro</a></li>
        <li style="float:right"><a href="/login">Iniciar Sesion</a></li>
    </ul>
<script type="text/javascript" src=".\js\validaciones.js"></script>
 <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inicios.css')}}" th:href="@{/Estilos/inicios.css}">

<body>
    <title>Formulario Registro</title>
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
                <div class="col-12 user-img">
                    <img src="https://image.freepik.com/foto-gratis/ciudad-fondo-construccion-carretera-asfalto-ferrocarril-noche_1359-1973.jpg">
                   
                </div>
           <h2>Registro de Usuario</h2>
                <form class="col-12" th:action="@{/login}" method="get">
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre y Apellido" name="username"/>
                    </div>
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Edad" name="username"/>
                    </div>
                    <div class="form-group" id="user-group">
                        <input type="text" class="form-control" placeholder="Sexo" name="username"/>
                    </div>
                    <div class="form-group" id="user-group">
                        <input type="email" class="form-control" placeholder="Correo" name="username"/>
                    </div>
                    <div class="form-group" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>

                    </div>
                   
                    <button type="submit" class="btn btn-primary" onclick="document.location='index.html'" value="Registrar">
        Registrarme
      </button> 

                 
                </form>
               
            </div>
        </div>
    </div>



</body>
</html>